[build]
  command = "npm run build"
  publish = "dist"
  edge_functions = "netlify/edge-functions"

[dev]
  command = "npm run dev"
  port = 8080

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "netlify/functions"
